<div class="formulario">
<h2>Introduce los siguientes datos y nos pondremos en contacto contigo con la mayor brevedad posible para comprarte la madera</h2>
<br>
<hr>
    <form id="form" action="?" method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Tú nombre, apodo..." required>
    <label for="telefono">Teléfono</label>
    <input type="text" name="telefono" id="telefono" placeholder="Télefono de contacto" required>
    <label for="localizacion">Localización</label>
    <input type="text" name="localizacion" id="localizacion" placeholder="Localización de la finca/s" required>
    <label for="especie">Especies</label>
    <select name="especie" id="especie" id="especie" required> 
        <option value="">Selecciona la especie</option>
        <option value="Pino">Pino</option>
        <option value="Eucalipto">Eucalipto</option>
        <option value="Ambas">Ambas</option>
    </select>
    <label for="observacions">Observaciones</label>
    <br>
    <textarea name="observaciones" id="observaciones" placeholder="Cantidad fincas, tamaño..." required></textarea>
    <br><br>
    <input type="submit" value="Enviar datos">
    </form>
</div>