<h1>NOSOTROS</h1>

<article>
					<span class="article_separator">&nbsp;</span>
					<br />
					<h2>PINO GALLEGO</h2>
					<br /><br />
					<h3>Características</h3>
					<br />
					<p><strong>Nombre Científico:</strong> Pinus Pinaster Ait, ssp atlántica.</p>
					<p><strong>Nombres Vulgares:</strong> Pino marítimo (internacional), pino gallego (nacional), pino de las Landas o pino negral (otros).</p>
					<br /><br />
					<div id="columna">
						<div id="columna1">
							<p class="center"><strong>Descripción:</strong></p>
							<br />
							<p>- Árbol de talla mediana que alcanza, normalmente, los 20 m. de altura, llegando a los 25 m. y, en casos excepcionales, hasta los 30 m. Al principio es recto y limpio de ramas, que aparecen a partir de los dos tercios de su altura. Termina en lo alto con una forma acampanada.</p>
							<br />
							<p>- La corteza es gruesa, de color negro, agrietada con colores rojizos.</p>
							<br />
							<p>- De color blanco amarillento en la albura y rojizo amarillento en el duramen. Anillos anuales muy visibles a simple vista por el contraste entre las zonas de primavera y de verano, dando una veta característica, bastante aparente a esta madera.</p>
							<br />
							<p>- El grano varía de medio a basto. Médula de color rojo vino a marrón.</p>
							<br />
							<p>- La fibra es recta, interrumpida como consecuencia de los nudos y otros defectos. Es característisca de esta madera las bolsas de resina muy localizadas, pero sin una distribución o situación conocida a priori.</p>
							<br /><br />
							<p class="center"><strong>Durabilidad:</strong></p>
							<br />
							<p>- Frente a agentes biológicos (hongos de pudrición, termitas, anobidos, lictidas, hylotrupes bajulus) es poco resistente en la albura, pero medianamente y muy resistente en el duramen.</p>
							<br />
							<p>- Frente a agentes abióticos, es bastante estable a la luz, degradándose muy lentamente por la acción de los rayos ultravioleta. Presenta una alta reacción al fuego como consecuencia de su elevado porcentaje de resina, clasificándose como material M-4 (facilmente inflamable para un espesor de 27 mm.).</p>
							<br /><br />
							<p class="center"><strong>Aserrado:</strong></p>
							<br />
							<p>- En la madera de Pino Gallego, el aserrado debe hacerse lo más pronto posible después de su apeo, si no se ha efectuado un tratamiento antiazulado y antifendas a las tronzas en el monte; ya que, su mediana-alta contracción volumétrica, su gran facilidad para secarse al aire y su predisposión a ser atacada por los hongos cromógenos, ocasionaría la aparición de defectos de azulado y fendas.</p>
							<br />
							<p>- Está en la categoría de semidura, más cerca de las blandas que de las duras; por lo tanto, su aserrado está considerado fácil, aunque la presencia de resina puede debilitar los filos de las sierras de cinta y provocar su calentamiento.</p>
							<br />
						</div>
						<div id="columna2">
							<p class="center"><strong>Secado:</strong></p>
							<br />
							<p>- Después de su aserrado conviene proceder al secado rápidamente, para evitar azulados y fendas. Dicho secado es, relativamente fácil. El Pino Gallego, presenta ligeros riesgos de que se produzcan deformaciones. Además del secado natural (al aire libre), existe el secado en cámaras, bajo condiciones reguladas. La elección entre un método u otro, dependerá,fundamentalmente, de la aplicación y destino que se va a dar a la madera; así como, de las condiciones de cada empresa.</p>
							<br /><br />
							<p class="center"><strong>Tratamientos:</strong></p>
							<br />
							<p>- El Pino Gallego tiene gran facilidad de protección o de impregnación de la albura, muy superior a la del pino silvestre y, sólo superable, por el pino insignis. Este hecho confirma la apreciación realizada por la norma UNE 56.417, anexo nº 1, en la que indica, la facilidad para el tratamiento de la albura de esta madera. Respecto a su duramen, es todo lo contrario, calificándose como de muy dificil su tratamiento o impregnación, aunque su propia durabilidad natural no hace indispensable, en la mayoría de los casos, su tratamiento.</p>
							<br /><br />
							<p class="center"><strong>Aplicaciones:</strong></p>
							<br />
							<p>- Tableros alistonados, contrachapados, paletas, carpintería de interior, embalajes, encofrados, ornamentación,...</p>
							<br />
							<p class="center"><img src="/images/monte2.jpg" alt="Monte de Pino Gallego" title="Monte de Pino Gallego" /></p>
							<br />
							<p class="center"><img src="/images/rolla6.jpg" alt="Pino Gallego" title="Pino Gallego" /></p>
						</div>
					</div>
					<span class="article_separator">&nbsp;</span>
				</article>