
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>    
</head>
<body>
<div class="cabecera">
        <h1 style="margin-left: 40px;">madeiras<br> Estanqueiro</h1>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
</div>

<div class="cuerpo" id="cuerpo">
{{{body}}}
</div>
</body>
</html>
