<article>
					<span class="article_separator">&nbsp;</span>
					<br />
					<h2>ASERRADERO DE PINO GALLEGO</h2>
					<br /><br />
					<h3>Fases de la 1ª Transformación de la Madera:</h3>
					<br /><br />
					<div id="columna">
						<div id="columna1">
							<p class="center"><strong>1.- PESADO Y APILADO:</strong></p>
							<br />
							<p>El transporte trae la madera desde el cargadero del aprovechamiento forestal hasta la fábrica, donde es pesada y colocada adecuadamente.</p>
							<br />
							<p class="center"><img src="/images/camion.jpg" alt="Camión con Grúa Forestal" title="Camión con Grúa Forestal" /> <img src="/images/tractor3.jpg" alt="tractor" title="Tractor con Grúa Forestal" /></p>
							<br /><br />
							<p class="center"><strong>2.- DESCORTEZADO:</strong></p>
							<br />
							<p>Realizado con la Peladora de Cuchillas, que elimina la corteza de las tronzas; así como, otras impurezas (piedras,...), que pueden provocar averías en las siguientes máquinas que elaboran la madera.</p>
							<br />
							<p class="center"><img src="/images/peladora.jpg" alt="Aserradero: Peladora de Cuchillas" title="Peladora de Cuchillas" /> <img src="/images/cintarolla.jpg" alt="cinta_rolla" title="Cinta Rolla" /></p>
							<br /><br />
							<p class="center"><strong>3.- CARRO DE SERRADO PRINCIPAL:</strong></p>
							<br />
							<p>Encargada de realizar los primeros cortes laterales al tronco, para dejar una base de trabajo para las siguientes máquinas. Extrae los costeros (sobrantes del tronco) y corta los anchos de la madera dependiendo de las necesidades y de la calidad de la madera.</p>
							<br />
							<p class="center"><img src="/images/carro_barton_1.jpg" alt="carro_barton" title="Carro de Serrado Principal de Barton Maquinaria SL" /> <img src="/images/cuadro_barton_1.jpg" alt="cuadro_barton" title="Cuadro de Control de Serrado de Barton Maquinaria SL" /></p>
							<br /><br />
							<p class="center"><strong>4.- CARRO DE SERRADO SECUNDARIO:</strong></p>
							<br />
							<p>Sierra los tablones destinados a puntón (cuadradillo) para palets.</p>
							<br />
							<p class="center"><img src="/images/carro2.jpg" alt="carro_secundario" title="Carro de Serrado Secundario" /></p>
							<br />
						</div>
						<div id="columna2">
							<p class="center"><strong>5.- CANTEADORA Y RETESTADORA:</strong></p>
							<br />
							<p>Se le da el ancho y largo definitivo a cada pieza, eliminando impurezas y los laterales que aún no tienen forma plana por pertenecer a la parte cilíndrica del tronco.</p>
							<br />
							<p class="center"><img src="/images/canteadora.jpg" alt="Aserradero: Canteadora" title="Canteadora" /></p>
							<br /><br />
							<p class="center"><strong>6.- CLASIFICADO, MARCADO Y FLEJADO:</strong></p>
							<br />
							<p>La madera debe clasificarse según sus dimensiones y su calidad, dependiendo de las necesidades. Finalmente, se marca y se fleja.</p>
							<br />
							<p class="center"><img src="/images/clasificado.jpg" alt="Aserradero: Clasificado de la madera" title="Clasificado de la madera" /> <img src="/images/clasificado2.jpg" alt="Aserradero: Clasificado de la madera" title="Clasificado de la madera" /></p>
							<br /><br />
							<p class="center"><strong>7.- TRATAMIENTO CONTRA EL AZULADO:</strong></p>
							<br />
							<p>La madera necesita ser protegida frente a ataques de hongos del azulado. Se realiza por inmersión en el producto protector que se encuentra en unos baños, en los cuales se depositan los paquetes de madera.</p>
							<br />
							<p class="center"><img src="/images/antiazulado2.jpg" alt="Aserradero: Baños antiazulado de la madera" title="Baños Antiazulado" /> <img src="/images/tabla02.jpg" alt="Aserradero: Paquetes de madera" title="Paquetes de madera" /></p>
							<br /><br />
							<p class="center"><strong>8.- SECADO DE LA MADERA:</strong></p>
							<br />
							<p>Se puede realizar mediante un secado natural (al aire libre) o en cámaras de secado, para alcanzar el grado de humedad necesario. Además, en dichas cámaras, se cumple con la Normativa NIMFº15 (Tratamiento de Calor para evitar el Nematodo del Pino).</p>
							<br />
							<p class="center"><img src="/images/secadero_incomac2.jpg" alt="Aserradero: Secaderos de madera" title="Cámara de Secado" /> <img src="/images/nimf15.jpg" alt="Aserradero: Tratamiento Térmico NIMF 15" title="Tratamiento Térmico NIMFº15" /></p>
							<br />
						</div>
					</div>
					<span class="article_separator">&nbsp;</span>
					<div class="contenedor-youtube">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/421rzcE-dVc?ecver=1" frameborder="0" allowfullscreen></iframe>
					</div>
					<span class="article_separator">&nbsp;</span>
					<div class="contenedor-youtube">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/AXoAe70x_gU?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<span class="article_separator">&nbsp;</span>
</article>