<div class="formulario">
<h2>Contacta con nosotros, te escuchamos.</h2>
<br>
<hr>
    <form id="form" action="?" method="POST">
    <label for="email">Tu Email</label>
    <input type="email" name="email" id="email" placeholder="Dirección de correo, para contestarte" required>
     <label for="asunto">Asunto</label>
    <input type="text" name="asunto" id="asunto" placeholder="Asunto" required>
    <label for="mensaje">Mensaje</label>
    <br>
    <textarea name="mensaje" id="mensaje" required></textarea>
    <br><br>
    <input type="submit" value="Enviar mensaje">
    </form>
</div>